.angkorTempate{
	background-color:#fff;
	width:100%;
}
.clear{
	clear:both;
}
.icon-48-angkor{
	background: url(../images/angkor_48.png) no-repeat;
}
.icon-32-translate{
	background: url(../images/icon-32-joomfish.png) no-repeat;
}
.angkorTempate-inner{
	padding:10px;
}
#emailsList{
	float:left;	
	padding:0;
	padding-right:10px;
	margin:0;
	
	min-width:270px;
}
#emailsList .emails{
	border:1px solid #ccc;
}
#emailsList .emails .pane-sliders .panel {
	border:none;
}
#emailTemplate{
	float:left;	
	padding:0;
	margin:0;
}

#emailTemplate dl.tabs {
	margin-top:0px;
}
.pane-sliders{
	margin-top:0px !important;
}
div.languages{
	margin-bottom:5px;
	vertical-align:top;
}
.selected-email span{
	color:#ce0000;
	text-decoration:underline;
}
#emailTemplate .current{
	min-height:480px;
}
.css-editor{
	width:100%;
}
#previewArea{
	width:100%;
	height:450px;
}

#angkorMessage{
	display:none;
	margin:10px 0px;
	padding:10px;	
	border-top:1px solid #0000f1;
	border-bottom:1px solid #0000f1;
	background-color:#C3D2E5;
	color:#05B;
	font-weight:bold;
}
.css-warning{
	margin:10px 0px;
}
#language{
	height:40px;
	width:100%;
}
#parameterArea{
	margin:10px 0px;
}
table.emailsList{
	border-spacing:0px;
	width:100%;
}
table.emailsList td{
	padding:5px;
}
thead tr{
	background-color:#ccc;
}


#emailTemplate dl.tabs {
margin-top: 0px;
}
dl.tabs {
float: left;
margin: 10px 0 -1px 0;
z-index: 50;
}
dl.tabs dt {
float: left;
padding: 4px 10px;
border: 1px solid #CCC;
margin-left: 3px;
background: #E9E9E9;
color: #666;
}
dl.tabs dt.open {
background: #F9F9F9;
border-bottom: 1px solid #F9F9F9;
z-index: 100;
color: black;
}
dl.tabs dt h3 {
margin: 0;
padding: 0;
font-size: 1em;
font-weight: normal;
}

#submenu-box {
margin-bottom: 10px;
background-color: #F4F4F4;
padding:10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

#submenu {
list-style: none;
padding: 0;
margin: 0;
line-height: 115%;
}
#submenu li {
float: left;
padding: 0;
margin: 0;
}
#submenu a:hover, #submenu a.active, #submenu span.nolink.active {
color: #146295;
background: white;
}
#submenu li a, #submenu span.nolink {
cursor: pointer;
padding: 0 15px;
border-right: 1px solid #CCC;
font-size: 1.1em;
font-weight: bold;
color: gray;
line-height: 14px;
height: 12px;
}
.clr {
clear: both;
overflow: hidden;
height: 0;
}
div.current {
clear: both;
border: 1px solid #CCC;
padding: 10px 10px;
}

.pane-sliders .panel h3 {
background: #FAFAFA;
color: #666;
font-size: 1.182em;
}
.pane-sliders .title {
margin: 0;
padding: 2px 2px 2px 5px;
color: #666;
cursor: pointer;
}
.pane-toggler span {
background: transparent url(../images/j_arrow.png) 5px 50% no-repeat;
padding-left: 20px;
}
.pane-toggler-down span {
background: transparent url(../images/j_arrow_down.png) 5px 50% no-repeat;
padding-left: 20px;
}
.pane-sliders .panel {
margin-bottom: 3px;
border: solid 1px #CCC;
}
.CodeMirror{
	border-style:inset;
	border-width:2px;
	padding:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}