<?xml version="1.0" encoding="utf-8"?>
<extension type="library" method="upgrade" version="3.9">
    <name>Angkor Mailer Library</name>
    <libraryname>skurvish/angkor</libraryname>
    <author>Alex Chartier</author>
    <creationDate>April 2020</creationDate>
    <copyright>Copyright 2020 Skurvish Enterprises</copyright>
    <license>http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL</license>
    <authorEmail>alex@skurvishenterprises.com</authorEmail>
    <authorUrl>www.skurvishenterprises.com</authorUrl>
    <version>{version}</version>
    <description>Helper library class for the angkor plugins and component </description>
	<namespace>Skurvish\Angkor\AngkorHelper</namespace>
	
    <files>
		<file>angkorhelper.xml</file>
		<file>angkorhelper.php</file>
    </files>

</extension> 